﻿body {
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
}

a {
    color: white;
    font-weight: bold;
}

a:visited {
    color: white;
    font-weight: bold;
}

.centeredtable {
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}